extends layout

block content
  h1= title
  |
  p
    a.button.add-book(href='books/new') Create New Book
  |
  .search
    form(method='get', action='/books')
      input#book-search(type='search', name='q', placeholder='Search for a book')
      |
      input(type='submit', value='Search')
  |
  table
    thead
      tr
        th Title
        |
        th Author
        |
        th Genre
        |
        th Year
    |
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`) #{book.title}
          |
          td= book.author
          |
          td= book.genre
          |
          td= book.year
  if (query && !books.length)
    div.not-found
      p
        | Your search for
        |
        span.highlight= query
        |  didn&apos;t return any results.
      |
      p Try searching again using a different spelling or keyword.
  if (pages.count > 1)
    .pagination
      ul
        - const txtQuery = query ? `&q=${query}` : ''
        - for(let i = 1; i <= pages.count; i++) {
          li
            if (i === pages.current)
              a.active(href=`/books?page=${i}${txtQuery}`) #{i}
            else
              a(href=`/books?page=${i}${txtQuery}`) #{i}
        - }
